{% extends '@AkyosCms/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}

    {% set hasSearch = false %}
    {% if (bundle is defined and (bundle == "CoreBundle" or bundle == "BuilderBundle" or bundle == "FormBundle" or bundle == "ShopBundle")) or (search is defined and search) %}
        {% set hasSearch = true %}
    {% endif %}

    {% include '@AkyosCms/crud/elements/_header.html.twig' with {'title' : title, 'search' : hasSearch, 'button_add' : (button_add is defined ? button_add : true), 'header_route' : header_route is defined ? header_route : null} %}

    {# FILTER #}

    <section class="form-filter">
        {{ form_start(exportForm, {'attr': {'class' : 'row'}}) }}
        <div class="col-md-8">{{ form_row(exportForm) }}</div>
        <div class="col-md-4">
            <div class="ml-3">
                <button type="submit" class="btn btn-effect-ripple btn-xs btn-success"><i
                            class="fas fa-file-download"></i> Télécharger en CSV
                </button>
            </div>
        </div>
        {{ form_end(exportForm) }}

    </section>

    {# END FILTER #}

    {% include '@AkyosCms/crud/elements/_table.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
